* {
  margin: 0;
  padding: 0;
}
#img1,
#img2,
#img3 {
  width: 500px;
  height: 500px;
}

.imagenes {
  display: flex;
}

body {
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body h1 {
  padding-top: 15px;
  font-family: cursive;
  text-align: center;
  color: cadetblue;
  padding-bottom: 15px;
}

#cambiarImagen {
  margin: 15px;
  align-self: flex-end;
  padding: 15px;
  border: none;
  font-size: 20px;
  font-family: cursive;
  background-color: burlywood;
  color: azure;
  position: fixed;
}

button:hover {
  background-color: rgb(219, 140, 37);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

img {
  margin: 5px;
  padding: 15px 0px;
  border-radius: 10%;
}

.contenedor {
  position: relative; /* Para que los elementos absolutos dentro de este contenedor se posicionen en relación a él */
}

#botonFavoritos {
  position: absolute;
  top: 20px; /* Ajusta según donde quieras el botón */
  right: 10px; /* Ajusta según donde quieras el botón */
  z-index: 10; /* Asegúrate de que el botón quede por encima de la imagen */
  padding-right: 0; /* Elimina el padding extra si no es necesario */
  background-color: white;
  border-radius: 150%;
}

#img1 {
  width: 500px;
  height: 500px;
  display: block;
  border-radius: 10%;
}
