* {
  margin: 0;
  padding: 0;
}
.perroAleatorio {
  width: 300px;
  height: 300px;
  display: block;
  border-radius: 10%;
}

.imagenes {
  display: flex;
}

body {
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body h1 {
  padding-top: 15px;
  font-family: cursive;
  text-align: center;
  color: cadetblue;
  padding-bottom: 15px;
}

#cambiarImagen {
  margin: 15px;
  align-self: flex-end;
  padding: 15px;
  border: none;
  font-size: 20px;
  font-family: cursive;
  background-color: rgb(222, 184, 135);
  color: azure;
  position: fixed;
}

#cambiarImagen:hover {
  background-color: rgb(210, 130, 25);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

img {
  margin: 5px;
  padding: 15px 0px;
  border-radius: 10%;
}

.contenedor {
  position: relative;
}

.botonFavoritos {
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 10;
  padding-right: 0;
  background-color: white;
  border-radius: 15%;
}

.botonUnfavorite {
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 10;
  padding-right: 0;
  background-color: rgb(255, 0, 0);
  border-radius: 15%;
}

.botonFavoritos:hover,
.botonUnfavorite:hover {
  cursor: pointer;
}

#favoritos {
  text-align: center;
}

.imagenesFavoritas {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
